/* estructura principal */
.tarea-formulario {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* campo de texto */
.tarea-input {
    width: 350px;
    font-size: 18px;
    background-color: #ffffff;
    padding: 16px 32px 16px 16px;
    border: 1px solid #0799b6;
    outline: none;
}

/* Boton agregar tarea */
.tarea-boton {
    padding: 16px;
    font-size: 18px;
    font-family: sans-serif;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background-color: #0799b6;
    color: #ffffff;
    text-transform: capitalize;
}

@media (min-width: 360px) and (max-width: 759px) {
    .tarea-input {
        width: 75%;
        padding: 15px;
    }

    .tarea-boton {
        width: 25%;
        padding: 15px;
    }


}