* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 40px auto;
  max-width: 1080px;
  background-color: #0d3949;
}

.aplicacion-tareas{
  display:flex;
  flex-wrap: wrap; 
  justify-content:center;
  align-items: center;
}

h1{
  color:#3b3b4b;
  font-size: 25px;
  font-family: sans-serif;
  text-align: center;
  margin: 25px 0;
  
}

.tareas-lista-principal{
  min-width: 480px;
  max-width: 600px;
  min-height: 500px;
  background-color: #9cd2d3;
  padding: 25px;
  margin: 10px;
  justify-content: center;
  border-radius: 26px;
}

@media (min-width: 760px) and (max-width: 1023px) {
  body {
    max-width: 1020px;
  } 
}

@media (min-width: 360px) and (max-width: 759px) {
  body {
    max-width: 360px;
  } 
}